Django~=4.2.2
pydantic
celery
django-cors-headers==3.5.0
factory-boy==2.12.0
gunicorn
psycopg2-binary
redis
django-ninja-extra
django-ninja-jwt
flake8==4.0.1
isort==5.10.1
black==21.12b0
click==8.0.4
ninja-schema
